.popup__button-save {
  min-width: 358px;
  height: 50px;
  border: 0;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 18px;
  line-height: 1.21;
  font-weight: normal;
  font-family:  'Inter', 'Arial', sans-serif;
  cursor: pointer;
  padding: 0;
  transition: opacity .3s linear;
  margin: 48px 0 0;
}

.popup__button-save:hover {
  opacity: .8;
}

@media screen and (max-width: 640px) {
  .popup__button-save {
    min-width: 238px;
    max-height: 46px;
    font-size: 14px;
    margin: 45px 0 25px;
  }
}
