@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page/__section/page__section.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__logo-image/header__logo-image.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
@import url(../blocks/profile/__user-action/profile__user-action.css);
@import url(../blocks/profile/__user-edit/profile__user-edit.css);
@import url(../blocks/profile/__user-wrapper/profile__user-wrapper.css);
@import url(../blocks/profile/__add-card/profile__add-card.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__change-avatar/profile__change-avatar.css);
@import url(../blocks/profile/__avatar-container/profile__avatar-container.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__list/cards__list.css);
@import url(../blocks/cards/__list-elem/cards__list-elem.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__wrapper/cards__wrapper.css);
@import url(../blocks/cards/__like/cards__like.css);
@import url(../blocks/cards/__like/_active/cards__like_active.css);
@import url(../blocks/cards/__button-bin/cards__button-bin.css);
@import url(../blocks/cards/__like-container/cards__like-container.css);
@import url(../blocks/cards/__like-num/cards__like-num.css);
@import url(../blocks/cards/__button-bin/__button-bin_inactive/cards__button-bin_inactive.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__main-container/popup__main-container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__edit-container/popup__edit-container.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close-img/popup__close-img.css);
@import url(../blocks/popup/_active/popup_active.css);
@import url(../blocks/popup/__figure-image/popup__figure-image.css);
@import url(../blocks/popup/__larger-image/popup__larger-image.css);
@import url(../blocks/popup/__figcaption/popup__figcaption.css);
@import url(../blocks/popup/__error/popup__error.css);
@import url(../blocks/popup/__error/_active/popup__error_active.css);
@import url(../blocks/popup/__form/_type/popup__form_type_error.css);
@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__button-save/_inactive/popup__button-save_inactive.css);
@import url(../blocks/popup/__title/_without-input/popup__title_without-input.css);
@import url(../blocks/popup/__button-save/_without-input/popup__button-save_without-input.css);

@import url(../blocks/preloader/preloader.css);
@import url(../blocks/preloader/__circle/preloader__circle.css);
