.header__logo {
  transition: opacity .3s linear;
  background-image: url(../../../images/logo.svg);
  width: 142px;
  height: 33px;
  display: inline-block;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 640px) {
  .header__logo {
    background-image: url(../../../images/logoMobile.svg);
    margin-left: 27px;
    width: 104px;
    height: 24px;
  }
}
